html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none; /* Disables overscrolling effect */
}

body {
  font-family: sans-serif;
  background: linear-gradient(90deg, rgba(116, 125, 82, 1) 0%, rgba(62, 71, 99, 1) 35%, rgba(75, 82, 84, 1) 100%);
}

*, *::before, *::after {
  box-sizing: inherit;
}


.pageTitle {
  position: fixed;
  padding-left: 20px;
  font-size: 40px;
}

.title {
  font-size: max(2vw, 24px);
  line-height: 1.1;
  padding-bottom: .4em;
  color: rgb(255, 255, 255);
  text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}

.text {
  font-size: max(1vw, 15px);
  line-height: 1.4;
  overflow: hidden;
  padding-bottom: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.accordions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20vh;
}

.accordion {
  background: linear-gradient(200deg, rgb(29, 145, 252) 13.57%, rgb(90, 54, 192) 98.38%);
  width: max(50vw, 280px);
  padding: 25px 30px 10px;
  border-radius: 15px;
  margin-bottom: 40px;
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, .3);

  &:nth-child(2) {
    background: linear-gradient(200deg, rgb(242, 136, 133) 13.57%, rgb(233, 79, 102) 98.38%);
  }

  &:nth-child(3) {
    background: linear-gradient(200deg, rgb(101, 187, 118) 13.57%, rgb(70, 111, 171) 98.38%);
  }

  &:nth-child(4) {
    background: linear-gradient(200deg, rgb(101, 187, 118) 13.57%, rgb(70, 111, 171) 98.38%);
  }
}

.spacer {
  height: 10vh;
}

@media (max-width: 480px) {
  .accordion {
    padding: 15px 20px 8px;
  }
  .title {
    font-size: 20px;
  }
  .pageTitle {
    padding-left: 0;
    width: 100%;
    text-align: center;
  }
}
