body {
    font-family: "courier";
    font-size: 20px;
    background-color: rgb(215, 253, 246); /* For browsers that do not support gradients */
    background-image: linear-gradient(0deg, rgb(223, 220, 158), rgb(226, 255, 251));
    height: 100vh
}

.centered {
    text-align: center;
    display: flex;
    justify-content: center;
}

.avatar-container {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    overflow: hidden;
    display: inline-flex;
}

.myself {
    transition: transform .5s;
}

/*.avatar-container:hover {*/
/*    transform: scale(1.2); !* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) *!*/
/*}*/

#me {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
