<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../views/assets/logos/favicon.png" type="image/png">
    <title>Vlad Mutilic&#259;</title>

    <link rel="stylesheet" href="index/index.css">
</head>

<body>
<canvas></canvas>
<div class='centered'>
    <div>
        <h1>Vlad Mutilic&#259;</h1>
        <div id="contents" class="contents">
            <p>Hi, I'm a Software Engineer from Swansea University.</p>
            <p class="connect">Let's connect! 🫱🏻‍🫲🏼</p>
            <p>This is my <a href="https://registry.jsonresume.org/vl4duu">resume</a>.</p>
            <a href="portfolio/view.html">Projects</a>
            <p><a href="mailto:vlad.mutilica@gmail.com">vlad.mutilica@gmail.com</a>
            </p>
            <noscript>Sorry, you need JavaScript enabled to email me.</noscript>
            <hr>
            <div id="logos">
                <a href="https://github.com/vl4duu">
                    <img src="assets/logos/github_logo.png" alt="gitHub"
                         style="width:42px;height:42px;"></a>
                <a href="https://www.linkedin.com/in/vlad-mutilica/">
                    <img src="assets/logos/linkedIn_logo.png"
                         alt="linkedin"
                         style="width:42px;height:42px;"></a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<script type="module" src="index/animations.js"></script>
<script type='module' src="index/fluidAnimation.js"></script>

</body>

</html>

