<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
</head>
<link rel="stylesheet" href="stylesheet.scss">
<body>
<div class="wrapper">
    <h1 class="pageTitle">Portfolio</h1>
    <div class="spacer"></div>
    <div class="accordions">
        <div class="accordion">
            <div class="title">
                RAG Repository Analyser
            </div>
            <div class="text">
                This project demonstrates a Retrieval Augmented Generation (RAG) system for answering questions about a
                GitHub repository. It leverages ChromaDB for efficient vector similarity search and OpenAI's embedding
                models for representing textual and code data.
                <div style="padding-top: 20px">
                    <a href="https://github.com/vl4duu/RAG-Repository-Analyzer">
                        <img src="../logos/github_logo.png" alt="gitHub" style="width:30px;height:30px">
                    </a>
                </div>
            </div>

        </div>
        <div class="accordion">
            <div class="title"> Locomobile.co</div>
            <div class="text">
                Online platform for a personal marketing project. The project is built with Vue.js. The 3D model
                is created with Blender and rendered with Three.js.
                <div style="padding-top: 20px">
                    <a href="https://locomobile.co" style="text-decoration: none">
                        <img src="../logos/web_page_logo.png" alt="website" style="width:30px;height:30px">
                    </a>
                    <a href="https://github.com/vl4duu/locomobile.co">
                        <img src="../logos/github_logo.png" alt="gitHub" style="width:30px;height:30px">
                    </a>
                </div>

            </div>
        </div>
        <div class="accordion">
            <div class="title">NextGenVet.ro</div>
            <div class="text">
                Online platform for a Vet clinic. The Website is built with Next.js and Tailwind CSS.
                <div style="padding-top: 20px">
                    <a href="https://nextgenvet.ro" style="text-decoration: none">
                        <img src="../logos/web_page_logo.png" alt="gitHub" style="width:30px;height:30px">
                    </a>
                    <a href="https://github.com/vl4duu/next-gen-vet">
                        <img src="../logos/github_logo.png" alt="gitHub" style="width:30px;height:30px">
                    </a>
                </div>
            </div>
        </div>
        <div class="accordion">
            <div class="title">Space Invaders</div>
            <div class="text">This piece of game has been made for my Game Development course in third year using C# in
                Unity3D. The main feature that this game offers is represented by the Terminal style menu. Many thanks
                to my brother for composing the music and to KenzeWee VulpsVulps for designing the Artwork.
                <div style="padding-top: 20px">
                    <a href="https://vl4duu.itch.io/space-invaders" style="text-decoration: none">
                        <img src="../logos/web_page_logo.png" alt="gitHub" style="width:30px;height:30px">
                    </a>
                    <a href="https://github.com/vl4duu/Space-Invaders">
                        <img src="../logos/github_logo.png" alt="gitHub" style="width:30px;height:30px">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
</div>
</body>
<script type="module" src="portfolio.js"></script>
</html>